<div class="container">
  <div class="card mb-5">
    <div class="card-body">
      <h1>Edit Todo</h1>
    </div>
  </div>

  <%= render 'todos/form' %>

  <div class="mt-5">
    <%= link_to 'Todo List', todos_path %>
  </div>
</div>