<div class="container">
  <div class="card">
    <div class="card-body d-flex justify-content-between">
      <h1 class="text-center">My Todo list</h1>
<!--      <a href="" class="btn btn-primary">New Todo</a>-->
      <%= link_to('New Todo', new_todo_path, class: '') %>
    </div>
  </div>

  <div class="card mt-5">
    <div class="card-body">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
          <% @todos.each_with_index do |todo, index| %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= todo.name %></td>
              <td><%= todo.status %></td>
              <td> Edit, Show, Delete</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
